{% extends 'about/base.html' %}
{% block content %}
    

<div class="container mt-10" style="padding: 40px;">
<h1 class="animate__animated animate__flash">About Me</h1>
    <p>Hi, I'm Pelin Ece Burgun. I love learning new languages, exploring different cultures, and attending seminars and educational programs in my field. I am currently continuing my education to further improve myself.</p>
</div>   
<div class="container mt-10" style="padding: 40px; margin-top: 20px;">    
<h1 class="animate__animated animate__flash">Education and Career</h1>    
    <p> I graduated from Adnan Menderes Anatolian High School. Currently, I'm a 3rd-year Computer Science & Engineering student at Acıbadem University.</p>
</div>
<div class="container mt-10" style="padding: 40px; margin-top: 20px;">
<h1 class="animate__animated animate__flash">My Personal Interests</h1>    
    <p>I can describe myself as a book enthusiast, much like many others. I also love trying new recipes, painting on canvas, and reading tarot as my hobbies.</p>
</div>
<div class="container mt-10" style="padding: 40px;margin-top: 20px;">    
<h1 class="animate__animated animate__flash">Why You Should Work With Me?</h1>    
    <p>I work well in a team and am always eager to learn. My other skills include time management, teamwork, problem-solving, and punctuality.</p>
</div>  
{% endblock %}