{% extends 'about/base.html' %}
{% load static %}
{% block content %}
<div class="container"><i class="fa-solid fa-envelope fa-3x"></i>
    <h1>E-Mail</h1>
        <a href="mailto:pelinece03@gmail.com">pelinece03@gmail.com</a>
        
</div>   
<div class="container"> 
<i class="fa-brands fa-linkedin fa-3x"></i>
<h1>LinkedIn</h1>
    <a href="https://www.linkedin.com/in/pelin-ece-burgun-758a69297/">Linkedin Account</a>
</div>
<div class="container">
<i class="fa-brands fa-instagram fa-3x"></i>
    <h1>Instagram</h1>
        <p>@pelinn.ecee</p>
</div>
<div class="container"> 
    <i class="fa-brands fa-github fa-3x"></i>
    <h1>Github</h1>
        <a href="https://github.com/pelinnecee">Github Account</a>
{% endblock %}
</div>